@charset "utf-8";

/*共通設定開始*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin: 0;
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-align: center;
    /*line-height: 0;*/
    color: #333;
    opacity: 1;
    transition: 0.5s;
}

a:hover {
    opacity: 0.3;
    transition: 0.5s;
}

a:focus,
a:active {
    color: #000;
    transition: 0.1s;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/**ヘッダー設定開始**/
header {
    margin-top: 100px;
    overflow: hidden;
}

header h1 {
    width: 300px;
    margin-bottom: 50px;
    float: left;
}

header h1 a {
    display: block;
}

#header_right {
    float: right;
}


#sub_nav ul {
    margin-top: 50px;
    overflow: hidden;
}

#sub_nav ul li {
    text-align: center;
    float: left;
}

#sub_nav a {
    font-size: 12px;
}

#sub_nav li:not(:last-child) ::after {
    content: "/";
    padding: 0 0.5em;
}

/**ヘッダー設定終了**/
/**メインナビ設定開始*/
#main_nav ul {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

#main_nav ul li {
    flex-grow: 1;
}

#main_nav a {
    display: block;
    padding-top: 5px;
    border: solid 1px #e0e0e0;
    border-bottom: none;
}

#main_nav li:not(:last-child) {
    margin-right: 30px;
}

/**メインナビ設定終了*/
/**フッター設定開始**/
footer {
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    border-top: solid 1px #efefef;
    margin-top: 20px;
}

#sitemap {
    padding-top: 30px;
    overflow: hidden;
}

#breadcrumbs {
    font-size: 1em;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: solid 1px #efefef;
    margin: 20px 0;
}

#breadcrumbs a {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding-right: 15px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right;
}

#sitemap ul {
    margin: 0;
    padding: 0;
}

#sitemap ul li {
    float: left;
}

#sitemap ul li:not(:last-child) ::after {
    content: "/";
    padding: 0 0.5em;
}

#footer_inner {
    margin: 50px 0;
    overflow: hidden;
}

#footer_inner h1 {
    margin: 10px 0;
    float: left;
}

#footer_inner address {
    font-style: normal;
    text-align: left;
    margin: 0;
    margin-left: 100px;
    float: left;
}

/**フッター設定終了**/
/*共通設定終了*/


/*********TOPページ設定開始*************/
article:first-child {
    margin-top: 50px;
}

article:last-child {
    margin-bottom: 50px;
}

#slider_js h2 {
    color: #333;
    padding-left: 15px;
    margin: 0;
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

.slideshow {
    display: block;
    line-height: 0;
}

/*商品カテゴリナビ設定開始*/
#category_nav {
    text-align: center;
    padding-top: 30px;
    border-top: dotted 2px #efefef;
}

#category_nav ul {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

#category_nav li {
    flex-grow: 1;
}

#category_nav li:not(:last-child) {
    padding-right: 50px;
}

#category_nav li a {
    writing-mode: vertical-rl;
}

/*商品カテゴリナビ設定終了*/
/*PR設定開始*/
#pr {
    overflow: hidden;
    margin-top: 50px;
}

p#pr_txt {
    padding: 50px;
    border-top: solid 1px #efefef;
    margin: 0;
    float: left;
}

p#catch {
    font-size: 25px;
    font-weight: bold;
    writing-mode: vertical-rl;
    padding: 30px 0;
    float: left;
}

#pr_image {
    padding: 50px 0;
    border-top: solid 1px #efefef;
    float: right;
}

/*PR設定終了*/
/*THANKS設定開始*/
#thanks {
    text-align: center;
    padding: 30px 0;
    border-top: dotted 2px #efefef;
}

#thanks h2 {
    font-size: 40px;
}

#thanks p {
    font-size: 22px;
    font-weight: bold;
    margin: 1.5em 0;
}

p#thankyou,
p#value {
    font-size: 40px;
    margin: 0.8em 0;
}

#thanks a {
    display: block;
    width: 40em;
    margin: 0 auto;
}

p#registration {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    background-color: #00ced1;
    border-radius: 10px;
}

.red {
    color: red;
}

/*THANKS設定終了*/
/*********TOPページ設定終了*************/
/*********CONTACTページ設定開始*********/
#contacts {}

table {
    width: 100%;
    margin: 30px 0;
}

th {
    width: 30%;
    text-align: right;
    vertical-align: top;
    padding: 20px;
}

td {
    width: 70%;
    vertical-align: middle;
    text-align: left;
    padding: 20px 60px;
    padding-left: 0;
}

.input_text {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.input_button_group {
    float: none;
    text-align: center;
    margin: 30px auto;
}

.submit_button {
    width: 150px;
    padding: 20px 50px;
    font-size: 1.2em;
    background-color: #222;
    color: #fff;
    border-style: none;
}

/*********CONTACTページ設定終了*********/
